<head>
  <title>boaticalApp</title>
</head>

<body>
  <h1>Welcome to the Boatical app development!</h1>
  <h2>Proudly built using Meteor !!!</h2>

  {{> hello}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>
